# Any missing non-optional peer dependencies are automatically installed.
# https://pnpm.io/npmrc#auto-install-peers
auto-install-peers=true

# Any logs at or higher than `info` will be shown.
# https://pnpm.io/npmrc#loglevel
loglevel=info