body {
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.25;
  font-weight: normal;
  height: 100vh;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* @import url("syntax.css"); */
