body {
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.25;
  font-weight: normal;
  margin: 0;
}

#__next {
  min-height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

::selection {
  background: rgba(100, 100, 100, 0.5);
}

a {
  color: inherit;
}
/* @import url("syntax.css"); */
